*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Poppins,Lato,'Lucida Grande','Lucida Sans Unicode',Tahoma,Sans-Serif;
}

#navbar{
    background-color: rgb(197, 15, 91);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    position:fixed;
    top:0px;
    left: 0;
    right: 0;
    z-index: 999;
}
.nav-link{
    text-decoration: none;
    color:white;
    margin:10px;
    transition: transform 0.2s;
}
.nav-link:hover{
    transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
                            /* Igual que: scaleX(1.7) scaleY(1.1) */
}

#welcome-section{
    color:white;
    text-align: center;
    padding:20px;
    background: linear-gradient(45deg, #0f0f0f, #33323b);
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#welcome-section h1{
    font-size: 55px;
    margin-bottom:0;
    font-family: 'Raleway', sans-serif;
}
#welcome-section p{
    color:rgb(197, 65, 91);
    font-style: italic;
    font-size: x-large;
    margin-top: 0;
}   

#projects-container{
    background-color: #45567D;
    padding:50px 20px;
    display:flex;
    flex-direction: column;
}

#projects-container h2{
    color:white;
    text-align: center;
    border-bottom: 1.5px solid white;
    padding-bottom: 3px;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#projects{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-tile{
    display: flex;
    flex-direction:column;
    margin:20px;
    max-width: 350px;
    min-width: 300px;
    transition: transform 0.2s;
}
.project-tile:hover{
    transform: scale(1.05);
}
.project-link{
    color:white;
    text-decoration: none;
    width:100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color:#202B52;
    border-radius: 0 0 2px 2px;
    font-size: larger;
    transition: transform 0.2s;
}
.project-link:hover{
    color:springgreen;
}
.proyect-image{
    max-width:100%;
    border-radius: 2px;
}


#lets_work_together{
    background-color: #303841;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    text-align: center;
}

#lets_work_together h1{
    margin-bottom: 0;
    font-size: 45px; 
}

#lets_work_together p{
    margin-top: 0;
    font-style: italic;
}

#profile-link{
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    transition: transform 0.2s;
}

#profile-link:hover{
    transform: scale(1.1);
}

@media (max-width:400px){
    .proyect-image{
        max-width:100%;
        border-radius: 2px;
    }
}